body{
    margin: 0;

}
section{
    display: flex;

}

.border{
    width: 50%;

}
.border img{
    width: 500px;
    margin-left: 100px;
    height: 400px;
}
.nav{
    height: 500px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 30px;
}
h1{
    font-size: 50px;
}
.mission{
    color: crimson;
}
.acor{
    text-decoration: none;
    background-color: darksalmon;
    padding:15px 35px;
    border-radius: 10px;
    margin: 10 10 20;
}
