body{
    margin: 0;

}
section{
    display: flex;

}

.border{
    width: 50%;

}
.border img{
    width: 500px;
    margin-left: 100px;
    height: 400px;
}
.nav{
    height: 500px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 20px;
    padding: 30px;
}
h1{
    font-size: 50px;
}
.mission{
    color: crimson;
}
.acor{
    text-decoration: none;
    background-color: darksalmon;
    padding:15px 35px;
    border-radius: 10px;
    margin: 10 10 20;
}
.heading-2{
    text-align: center;
    font-size: 35px;
}
.man{
    width: 100%;
    margin-left: 200px ;
    padding: 20px;
}
.man img{
    width: 150px;
}
.manu1{
    width: 400px;
    margin: 20px;
    background-color: coral;
    padding: 10px;
    border-radius: 20px;
}
.manuv{
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position:left;

}
.picture{
    width: 500px;
    margin-left: 240px;
}
.mohon{
    margin-left: 50px;
    width: 600px;
    padding: 30px;
   
}
.conted{
margin-left: 240px;
margin-right: 200px;
margin-top: 80px;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;

}
.mohayman{
}
.fast{
    width: 500px;
    margin: 130px 50px;

}
.fast h2{
    font-size: 40px;
}
.mohaym{
    text-align: center;
}


